<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Car List</h1>
<div>
    <table border="1">
        <tr>
            <th>Owner</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.getOwner()}">...</td>
            <td th:utext="${car.getModel()}">...</td>
            <td th:utext="${car.getYear()}">...</td>
        </tr>
    </table>
</div>
</body>
</html>